.buffer {
    position: relative;
    background-color: black;
    height: 4em;
}

.content-wrapper-about {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.header-box {
    border: 1px solid black;
    color: white;
    transition: .5s;
    outline: none;
    flex: 1;
    min-width: 200px;
    background-position: 40%;
    background-size: cover;
    border-right: none;
    line-height: 6;
}

.header-box:hover {
    transition: .5s;
    color: #f60996;
}

#technology.header-box {
    background-image: url("../media/technology.jpg");

    order: 1;
}

#experience.header-box {
    background-image: url("../media/experience.jpg");
}
#innovation.header-box {
    background-image: url("../media/inovation.jpg");
}

#reliability.header-box {
    background-image: url("../media/reliability.jpg");
}

#profile-wrapper {
    display: flex;
    flex-direction: column;
}

#profile-image-wrapper {
    flex: 1;
    order: 2;
    flex-basis: 10%;
}

.profile-photo {
    position: relative;
    left: 50%;
    transform: translate(calc(-50% - 20px));
    width: 10em;
    height: 10em;
    margin: 20px;
    border-radius: 50%;
}

#about-text {
    text-align: center;
    flex: 1;
    order: 2;
    padding: 1em;
}

@media only screen and (min-width: 728px) {
    .content-wrapper-about {
        flex-flow: row;
    }

    .header-box {
        height: 6em;
        font-size: 1.5em;
    }

    #technology.header-box {

    }

    #experience.header-box {
        flex: 1;
    }
    #innovation.header-box {

    }

    #reliability.header-box {

    }

    #profile-wrapper {
        display: flex;
        flex-direction: row;
    }

    #profile-image-wrapper {
        flex: 1;
    }

    .profile-photo {
        width: 15em;
        height: 15em;
    }

    #about-text {
        text-align: left;
        flex: 1;
        padding: 3em;
        right: 30px;
        background-color: green;

    }

}

