.content-wrapper-about {
    grid-column: 1/3;
    grid-row: 3;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 1fr;
    justify-items: center;
    height: 80vh;
    text-align: center;
    line-height: 20vh;
    font-size: 2em;
    color: white;
    user-select: none;
}

.header-box {
    border: 1px solid black;
    transition: .5s;
    text-align: center;
    width: 100%;
}

.header-box:hover {
    transition: .5s;
    color: #9f1768;
}

#technology.header-box {
    background-image: url("../media/technology.jpg");
    background-position: 40%;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
    border-right: none;
}

#experience.header-box {
    background-image: url("../media/experience.jpg");
    background-position: 40%;
    background-size: cover;
    grid-column: 2;
    grid-row: 1;
    border-right: none;
}
#third-thing.header-box {
    grid-column: 1;
    grid-row: 2;
    border-right: none;
}

#fourth-thing.header-box {
    grid-column: 2;
    grid-row: 2;
    border-right: none;
}

#profile-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
}

#profile-image-wrapper {
    grid-column: 1;
    position: relative;
    height: 15em;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo {
    width: 12em;
    height: 12em;
    margin: 1em;
    border-radius: 50%;
}

#about-text {
    grid-column: 2;
}

@media only screen and (min-width: 728px) {
    .content-wrapper-about {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .header-box {
        height: 20vh;
    }

    #technology.header-box {
        grid-column: 1;
        grid-row: 1;
    }

    #experience.header-box {
        grid-column: 2;
        grid-row: 1;
    }
    #third-thing.header-box {
        grid-column: 3;
        grid-row: 1;
    }

    #fourth-thing.header-box {
        grid-column: 4;
        grid-row: 1;
    }

    #profile-wrapper {
        grid-column: 1/5;
    }

    #about-text {
        grid-column: 2;
    }

}

