.buffer {
    position: relative;
    background-color: black;
    height: 4em;
}

.content-wrapper-about {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.header-box {
    border: 1px solid black;
    color: white;
    transition: .5s;
    outline: none;
    flex: 1;
    min-width: 181px;
    background-position: 40%;
    background-size: cover;
    border-right: none;
    line-height: 6;
}

.header-box:hover {
    transition: .5s;
    color: #f60996;
}

#technology.header-box {
    background-image: url("../media/technology.jpg");

    order: 1;
}

#experience.header-box {
    background-image: url("../media/experience.jpg");
}
#innovation.header-box {
    background-image: url("../media/inovation.jpg");
}
#reliability.header-box {
    background-image: url("../media/reliability.jpg");
}

#profile-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 12pt;
}

#profile-image-wrapper {
    flex: 1;
    text-align: center;
}

.profile-photo {
    margin-top: 20px;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

#profile-image-wrapper p {
    text-align: left;
    flex: 1;
    order: 2;
    margin-left: 10px;
    margin-right: 10px;

}

@media only screen and (min-width: 728px) {
    .content-wrapper-about {
        flex-flow: row;
    }

    .header-box {
        height: 6em;
        font-size: 1.5em;
    }

    #profile-wrapper {
        display: flex;
        flex-direction: row;
    }

    #profile-image-wrapper {
        flex: 1;
    }

    .profile-photo {
        width: 15em;
        height: 15em;
    }

    #tech-stack {
        flex: 2;
    }

}

