.content-wrapper-blog {
    width: 100vw;
    height: 55vh;
    background-color: #6376b7;
    display: flex;
    justify-content: center;
}

#article-wrapper {
    justify-content: center;
    display: flex;
    background-color: red;
    width: 75vw;
    /*height: 55vh;*/
    flex-wrap: wrap;
}