#page-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.page-header {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1em;
    text-decoration: underline;
    text-underline-position: under;
}


@media only screen and (min-width: 728px) {
    .page-header {
        font-size: 2em;
    }
}