#navbar-wrapper {
    position: fixed;
    width: 100vw;
    background-color: black;
    display: inline;
    color: white;
    z-index: 1;
    transition: .5s;
}

#navbar-ul {
    list-style-type:none;
    display: flex;
    font-size: 1.5em;
    user-select: none;
    transition: .5s;
}

.navbar-li {
    padding: 1rem;
    transition: .5s;
}

.navbar-li:hover {
    color: #0a26e9;
    transition: .5s;
}

.navbar-li-selected {
    padding: 1rem;
    transition: .5s;
    color: #0a26e9;
}