#content-wrapper-portfolio {

}

#technology-list {
    align-items: stretch;
    list-style-type:none;
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: 10pt;
    text-align: center;
}

.navbar-tech {
    padding: 1em;
    transition: .5s;
    flex:1;
    background-color: #bbc2ea;
}

.navbar-tech:hover {
    color: white;
    background-color: #6376b7;
    transition: .5s;
}

.navbar-li-selected-tech {
    flex:1;
    padding: 1em;
    color: white;
    background-color: #152f88;
}

#project-wrapper {
    width: 100vw;
    border: 1px black;
}

iframe {
    position: absolute;
    z-index: -1;
}

#project-grid-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
}

.project-object {
    margin: 2em;
    padding: 5em;
    background-color: #c3dbff;
}

.buffer-transparent {
    background-color: #000000;
    height: 20px;
}
