#content-wrapper-portfolio {

}

#technology-list {
    align-items: stretch;
    list-style-type:none;
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: 10pt;
    text-align: center;
}

.navbar-tech {
    padding: 1em;
    transition: .5s;
    flex:1;
}

.navbar-tech:hover {
    color: white;
    background-color: #6376b7;
    transition: .5s;
}

.navbar-li-selected-tech {
    flex:1;
    padding: 1em;
    color: white;
    background-color: #152f88;
}



#project-wrapper {
    background-color: #5c87f5;
    height: 100vh;
    border: 1px black;
}
