.tech-bubble {
    color: white;
    text-align: center;
    user-select: none;
    padding: 1em;
    transition: 5s;
    flex: 1;
}

.tech-bubble:hover {
    background-color: #628dff;
    transition: 5s;
}

@media only screen and (min-width: 728px) {
    .tech-bubble {
        width: 8em;
        height: 8em;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}